.idea/
sha512256.cbp

## CMake
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
CTestTestfile.cmake
Makefile
cmake_install.cmake

## Test related
Testing/

## Executables
sha512
unit_tests
a.out

## Libraries
libprod.a

